.manager-dashboard {
  min-height: 0;
  flex: 1;
  display: grid;
  grid-template-columns: 30rem 1fr;
  &__content {
    
    display: grid;
    grid-template-rows: 1fr 100px;
    min-height: 0;
  }
}
