.manage-events {
  &__container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  &__title {
    margin-bottom: 3.2rem;
    font-size: 4.8rem;
    font-weight: 800;
  }
  &__action {
    display: flex;
    justify-content: flex-end;
  }
  &__events {
    display: flex;
    flex-direction: column;
    margin-bottom: 6.4rem;
  }
  &__event {
    cursor: pointer;
    display: flex;
    margin-bottom: 1.6rem;
    padding: 1.6rem 3.2rem;
    overflow: visible;

    &__image {
      position: relative;
      height: 100px;
      width: 100px;
      background-color: white;
    }
    &__content {
      flex: 1;
      display: flex;
      justify-content: space-between;
      margin-left: 1.6rem;
      &__info {
        display: flex;
        flex-direction: column;
      }
      &__action {
        position: relative;
      }
    }
    &__title {
      font-weight: 700;
      margin-bottom: 4px;
    }
    &__text {
      font-size: 1.4rem;
      color: $font-color-secondary;
    }
    &__icon {
      color: $font-color-secondary;
    }
  }
  &__content {
    width: 850px;
    margin: 0 auto;
    &__heading {
      margin: 3.2rem 0;
    }
  }
}
