*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  padding: 0;
  background-color: $color-200;
}

input,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  resize: none;
  &::placeholder {
    font-weight: 400;
    color: $color-black-20;
  }
}

button {
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
}
