.manage-events {
  &__container {
    width: 700px;
    margin: 0 auto;
    overflow-y: auto;
  }
  &__title {
    margin: 3.2rem 0;
    font-size: 4.8rem;
    font-weight: 800;
  }
  &__action {
    display: flex;
    justify-content: flex-end;
  }
  &__events {
    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
  }
  &__event {
    cursor: pointer;
    background-color: $color-100;
    margin-bottom: 1.6rem;
    padding: 1.6rem 3.2rem;
    &__image {
      position: relative;
      height: 100px;
      width: 100px;
    }
    &__content {
    }
  }
}
